{% include 'components/header.html' %}

<!-- Features -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 m-auto h-screen">
  <!-- Title -->
  <div class="mx-auto max-w-2xl mb-8 lg:mb-14 text-center">
    <h2 class="text-3xl lg:text-4xl text-gray-800 font-bold ">
      Solo, agency or team? We’ve got you covered.
    </h2>
  </div>
  <!-- End Title -->

  <div class="relative xl:w-10/12 xl:mx-auto">
    <!-- Grid -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-8">
      {% for product in products %}
      <form class="flex justify-center" action="/create-checkout-session" method="POST">
      <div class="w-full">
      <input type="hidden" name="priceId" value="{{product.PRICE_ID}}" />
        <!-- Card -->
        <div class="shadow-xl shadow-black-5 p-5 relative z-10 bg-white border rounded-xl md:p-10   ">
          <h3 class="text-xl font-bold text-gray-800 ">{{product.NAME}}</h3>
          <div class="text-sm text-gray-500">{{product.SUBTITLE}}</div>
          {% if product.RECOMMENDED == True %}
            <span class="absolute top-0 right-0 rounded-tr-xl rounded-bl-xl text-xs font-medium bg-blue text-white py-1.5 px-3 ">Most popular</span>
          {% endif %}

          <div class="mt-5">
            <span class="text-6xl font-bold text-black-100">{{product.PRICE}}</span>
            <span class="text-lg font-bold text-black-75">{{product.PRICE_cent}}</span>
            <span class="ml-3 text-blue">USD / monthly</span>
          </div>

          <div class="mt-5 grid sm:grid-cols-2 gap-y-2 py-4 first:pt-0 last:pb-0 sm:gap-x-6 sm:gap-y-0">
            <!-- List -->
            <ul role="list" class="space-y-2 text-sm sm:text-base">
              {% for desc in product.DESC_1 %}
              <li class="flex space-x-3">
                <svg class="flex-shrink-0 h-5 w-5 text-blue" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="18" height="18" rx="9" fill="currentColor" fill-opacity="0.1"/>
                  <path d="M12.0603 5.78792C12.2511 5.56349 12.5876 5.5362 12.8121 5.72697C13.0365 5.91774 13.0638 6.25432 12.873 6.47875L8.3397 11.8121C8.14594 12.04 7.80261 12.064 7.57901 11.8653L5.17901 9.73195C4.95886 9.53626 4.93903 9.19915 5.13472 8.979C5.33041 8.75885 5.66751 8.73902 5.88766 8.93471L7.88011 10.7058L12.0603 5.78792Z" fill="currentColor"/>
                </svg>
                <span class="text-black-75 ">
                  {{desc}}
                </span>
              </li>
              {% endfor %}
            </ul>
            <!-- End List -->

            <!-- List -->
            <ul role="list" class="space-y-2 text-sm sm:text-base">
              {% for desc in product.DESC_2 %}
              <li class="flex space-x-3">
                <svg class="flex-shrink-0 h-5 w-5 text-blue" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="18" height="18" rx="9" fill="currentColor" fill-opacity="0.1"/>
                  <path d="M12.0603 5.78792C12.2511 5.56349 12.5876 5.5362 12.8121 5.72697C13.0365 5.91774 13.0638 6.25432 12.873 6.47875L8.3397 11.8121C8.14594 12.04 7.80261 12.064 7.57901 11.8653L5.17901 9.73195C4.95886 9.53626 4.93903 9.19915 5.13472 8.979C5.33041 8.75885 5.66751 8.73902 5.88766 8.93471L7.88011 10.7058L12.0603 5.78792Z" fill="currentColor"/>
                </svg>
                <span class="text-black-75">
                  {{desc}}
                </span>
              </li>
              {% endfor %}
            </ul>
            <!-- End List -->
          </div>

          <div class="mt-5 grid grid-cols-2 gap-x-4 py-4 first:pt-0 last:pb-0">
            <div>
              <p class="text-sm text-black-50">Cancel anytime.</p>
              <p class="text-sm text-black-50">Card required.</p>
            </div>

            <div class="flex justify-end">
              <button type="sumbit" class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue text-white hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-blue focus:ring-offset-2 transition-all text-sm">{{content.stripe_plan_CTA}}</button>
            </div>
          </div>
        </div>
        <!-- End Card -->
      </div>
    </form>
      {% endfor %}
    </div>
    <!-- End Grid -->

    <!-- SVG Element -->
    <div class="hidden md:block absolute top-0 right-0 translate-y-16 translate-x-16">
      <svg class="w-16 h-auto text-red-light" width="121" height="135" viewBox="0 0 121 135" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 16.4754C11.7688 27.4499 21.2452 57.3224 5 89.0164" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
        <path d="M33.6761 112.104C44.6984 98.1239 74.2618 57.6776 83.4821 5" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
        <path d="M50.5525 130C68.2064 127.495 110.731 117.541 116 78.0874" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
      </svg>
    </div>
    <!-- End SVG Element -->

    <!-- SVG Element -->
    <div class="hidden md:block absolute bottom-0 left-0 translate-y-16 -translate-x-16">
      <svg class="w-56 h-auto text-blue" width="347" height="188" viewBox="0 0 347 188" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 82.4591C54.7956 92.8751 30.9771 162.782 68.2065 181.385C112.642 203.59 127.943 78.57 122.161 25.5053C120.504 2.2376 93.4028 -8.11128 89.7468 25.5053C85.8633 61.2125 130.186 199.678 180.982 146.248L214.898 107.02C224.322 95.4118 242.9 79.2851 258.6 107.02C274.299 134.754 299.315 125.589 309.861 117.539L343 93.4426" stroke="currentColor" stroke-width="7" stroke-linecap="round"/>
      </svg>
    </div>
    <!-- End SVG Element -->
  </div>

  <div class="mt-7 text-center">
    <p class="text-xs text-black-50">
      Prices in USD. Taxes may apply.
    </p>
  </div>
</div>
<!-- End Features -->